.switch-button {
    background-color: theme-colot(inactive);
    border: none;
    display: flex;
    height: 20px;
    width: 50px;

    &.-active {
        background-color: theme-color(active);
    }
}