.main {
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 5px 10px 10px 10px;

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__navigation {
        display: flex;
        height: 30vh;
    }

    &__machine {
        display: flex;
        flex-direction: column;
        height: 68vh;
    }
}